{% extends "OurBundle:Layouts:default.html.twig" %}

{% block mybooks %}

    {% block slider %}
        slider
    {% endblock %}

    <h1>Currently reading</h1>

    <hr>

    <div class="row">

        <div class="col-xs-10 col-xs-offset-1">
            {% for book in readingBooks %}
                <div class="col-lg-2">
                    <a href='/book/{{ book.bookId.id }}'><img src="{{ asset('uploads/' ~ book.bookId.id) }}   " alt="{{ book.bookId.title }}"  class="fotos"></a>
                    <p></p>
                    <p></p>
                </div>
            {% endfor %}

        </div>

    </div>


    <h1>Shared</h1>
    <hr>

    <div class="row">

        <div class="col-xs-10 col-xs-offset-1">

            {% for book in myBooks %}
                <div class="col-lg-2">
                    <a href='/book/{{ book.id }}'><img src="{{ asset('uploads/' ~ book.id) }}   " alt="{{ book.title }}"  class="fotos"></a>
                    <p></p>
                    <p></p>
                </div>
            {% endfor %}
        </div>

    </div>

    <h1>Waiting</h1>
    <hr>

    <div class="row">

        <div class="col-xs-10 col-xs-offset-1">

            {% for book in waitingBooks %}
                <div class="col-lg-2">
                    <a href='/book/{{ book.bookId.id }}'><img src="{{ asset('uploads/' ~ book.bookId.id) }}   " alt="{{ book.bookId.title }}"  class="fotos"></a>
                    <p></p>
                    <p></p>
                </div>
            {% endfor %}

        </div>

    </div>

    <h1>Already read</h1>
    <hr>

    <div class="row">

        <div class="col-xs-10 col-xs-offset-1">

            {% for book in finishedBooks %}
                <div class="col-lg-2">
                    <a href='/book/{{ book.bookId.id }}'><img src="{{ asset('uploads/' ~ book.bookId.id) }}   " alt="{{ book.bookId.title }}"  class="fotos"></a>
                    <p></p>
                    <p></p>
                </div>
            {% endfor %}

        </div>

    </div>

{% endblock %}
