{% extends 'OurBundle:Layouts:default.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-1 text-center">
            <p>POPULAR</p>
        </div>
        <div class="col-xs-1 text-center hidden-sm hidden-xs ">
            <p>NEW</p>
        </div>
        <div class="col-xs-2 hidden-sm hidden-xs ">
            <p>MOST WAITING</p>
        </div>
    </div>

    </br>

    <div class="row">

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/a.jpg') }}" alt="pirma" class="fotos">

                <div class="caption">
                    <h4>Text Editing</h4>
                    <h5>John Frusciante</h5>

                    <p>Book about Microsoft Office programs. Teaches everything</p>

                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/b.jpg') }}" alt="" class="fotos">

                <div class="caption">
                    <h4>Mind Speed</h4>
                    <h5>Bill Gates</h5>

                    <p>Book about bussines principles. It shows how to make 100 dollars </p>

                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>


    </div>
    <!----- second ----->
    <div class="row">

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/c.jpg') }}" alt="pirma" class="fotos">

                <div class="caption">
                    <h4>Text Editing</h4>
                    <h5>John Frusciante</h5>

                    <p>BBook about Microsoft Office programs. Teaches everything</p>

                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/d.jpg') }}" alt="" class="fotos">

                <div class="caption">
                    <h4>Mind Speed</h4>
                    <h5>Bill Gates</h5>

                    <p>Book about bussines principles. It shows how to make 100 dollars </p>

                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>


    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/e.jpg') }}" alt="pirma" class="fotos">

                <div class="caption">
                    <h4>Text Editing</h4>
                    <h5>John Frusciante</h5>

                    <p>Book about Microsoft Office programs. Teaches everything</p>

                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/b.jpg') }}" alt="" class="fotos">

                <div class="caption">
                    <h4>Mind Speed</h4>
                    <h5>Bill Gates</h5>

                    <p>Book about bussines principles. It shows how to make 100 dollars</p>

                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>


    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/a.jpg') }}" alt="pirma" class="fotos">

                <div class="caption">
                    <h4>Text Editing</h4>
                    <h5>John Frusciante</h5>

                    <p>Book about Microsoft Office programs. Teaches everything </p>

                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/c.jpg') }}" alt="" class="fotos">

                <div class="caption">
                    <h4>Mind Speed</h4>
                    <h5>Bill Gates</h5>

                    <p>Book about bussines principles. It shows how to make 100</p>

                    <p><a href="#" class="btn btn-primary">Take-it</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>


    </div>
{% extends 'OurBundle:Layouts:default.html.twig' %}
{% block slider %}
    {% extends "OurBundle:Components:slider.html.twig" %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-1 text-center">
            <p>POPULAR</p>
        </div>
        <div class="col-xs-1 text-center hidden-sm hidden-xs ">
            <p>NEW</p>
        </div>
        <div class="col-xs-2 hidden-sm hidden-xs ">
            <p>MOST WAITING</p>
        </div>
    </div>

    </br>

    <div class="row">

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/a.jpg') }}" alt="pirma" class="fotos">

                <div class="caption">
                    <h4>Text Editing</h4>
                    <h5>John Frusciante</h5>

                    <p>Book about Microsoft Office programs. Teaches everything</p>

                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/b.jpg') }}" alt="" class="fotos">

                <div class="caption">
                    <h4>Mind Speed</h4>
                    <h5>Bill Gates</h5>

                    <p>Book about bussines principles. It shows how to make 100 dollars </p>

                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>


    </div>
    <!----- second ----->
    <div class="row">

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/c.jpg') }}" alt="pirma" class="fotos">

                <div class="caption">
                    <h4>Text Editing</h4>
                    <h5>John Frusciante</h5>

                    <p>BBook about Microsoft Office programs. Teaches everything</p>

                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/d.jpg') }}" alt="" class="fotos">

                <div class="caption">
                    <h4>Mind Speed</h4>
                    <h5>Bill Gates</h5>

                    <p>Book about bussines principles. It shows how to make 100 dollars </p>

                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>


    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/e.jpg') }}" alt="pirma" class="fotos">

                <div class="caption">
                    <h4>Text Editing</h4>
                    <h5>John Frusciante</h5>

                    <p>Book about Microsoft Office programs. Teaches everything</p>

                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/b.jpg') }}" alt="" class="fotos">

                <div class="caption">
                    <h4>Mind Speed</h4>
                    <h5>Bill Gates</h5>

                    <p>Book about bussines principles. It shows how to make 100 dollars</p>

                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>


    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/a.jpg') }}" alt="pirma" class="fotos">

                <div class="caption">
                    <h4>Text Editing</h4>
                    <h5>John Frusciante</h5>

                    <p>Book about Microsoft Office programs. Teaches everything </p>

                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="thumbnail right-caption span4">
                <img src="{{ asset('bundles/app/img/c.jpg') }}" alt="" class="fotos">

                <div class="caption">
                    <h4>Mind Speed</h4>
                    <h5>Bill Gates</h5>

                    <p>Book about bussines principles. It shows how to make 100</p>

                    <p><a href="#" class="btn btn-primary">Take-it</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>


    </div>
{% endblock %}