<section id="feature_slider" class="lol">
    <article class="slide" id="showcasing" style="background: url('{{ asset('bundles/app/img/slides/landscape.png') }}') repeat-x top center;">
        <img class="asset left-1200 sp1500 t90 z1" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook1.jpg') }}"/>
        <img class="asset left-900 sp1500 t90 z2" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook2.jpg') }}"/>
        <img class="asset left-600 sp1500 t90 z3" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook3.jpg') }}"/>
        <img class="asset left-300 sp1500 t90 z3" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook4.jpg') }}"/>

        <div class="info">
            <h2></h2>
        </div>
    </article>
    <article class="slide" id="ideas" style="background: url('{{ asset('bundles/app/img/slides/aqua.jpg') }}') repeat-x top center;">
        <div class="info">
            <h2></h2>
        </div>
        <img class="asset left-1200 sp1500 t90 z1" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook1.jpg') }}"/>
        <img class="asset left-900 sp1500 t90 z2" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook2.jpg') }}"/>
        <img class="asset left-600 sp1500 t90 z3" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook3.jpg') }}"/>
        <img class="asset left-300 sp1500 t90 z3" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook4.jpg') }}"/>
    </article>
    <article class="slide" id="tour" style="background: url('{{ asset('bundles/app/img/slides/bubble2.jpg') }}') repeat-x top center;">
        <img class="asset left-1200 sp1500 t90 z1" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook1.jpg') }}"/>
        <img class="asset left-900 sp1500 t90 z2" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook2.jpg') }}"/>
        <img class="asset left-600 sp1500 t90 z3" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook3.jpg') }}"/>
        <img class="asset left-300 sp1500 t90 z3" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook4.jpg') }}"/>

        <div class="info">
            <h2></h2>
        </div>
    </article>
    <article class="slide" id="responsive" style="background: url('{{ asset('bundles/app/img/slides/aqua.jpg') }}') repeat-x top center;">
        <img class="asset left-1200 sp1500 t90 z1" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook1.jpg') }}"/>
        <img class="asset left-900 sp1500 t90 z2" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook2.jpg') }}"/>
        <img class="asset left-600 sp1500 t90 z3" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook3.jpg') }}"/>
        <img class="asset left-300 sp1500 t90 z3" style="width:210px;height:350px" src="{{ asset('bundles/app/img/slides/slidebook4.jpg') }}"/>

        <div class="info">
            <h2>
            </h2>
        </div>
    </article>
</section>