{% extends 'OurBundle:Layouts:default.html.twig' %}

{% block body %}


    {% if confirmed is defined %}


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Registration</h4>
                    </div>
                    <div class="modal-body">
                        <h3> Hi {{ confirmed.username }}, your registration is confirmed!</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $( document ).ready( function() {
                $( '#myModal' ).modal( 'toggle' );
            });
        </script>

    {% endif %}

    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#new" aria-controls="new" role="tab" data-toggle="tab"><h3>NEW</h3></a></li>
            <li role="presentation"><a href="#popular" aria-controls="popular" role="tab" data-toggle="tab"><h3>POPULAR</h3></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="new">
                <br>
                {% for book in newBooks %}
                    <div class="col-sm-6 book-box">
                        <div class="thumbnail right-caption span4">
                            <img src="{{ asset('uploads/' ~ book.id) }}" alt="pirma" class="fotos">
                            <div class="caption">
                                <h3><b>{{ book.title }}</b>{% if "now"|date('Y-m-d') == book.createdDate|date('Y-m-d') or "yesterday"|date('Y-m-d') == book.createdDate|date('Y-m-d')%} <span class="label label-primary">New!</span>{% endif %}</h3>
                                <h5>by <b>{{ book.author }}</b></h5>
                                <p><i>"{{ book.description|length > 90 ? book.description|slice(0, 90) ~ '...' : book.description.text  }}"</i></p>
                                <p>
                                    <button type="button" class="btn btn-primary btn--b" data-toggle="modal" data-target="#myModal-{{ book.id }}">
                                        Take a Look
                                    </button> {% if book.badge == true %}<span class="label label-success">Free!</span>{% endif %}{% if book.badge == false %}<span class="label label-danger">Taken</span>{% endif %}
                                <div class="modal fade" id="myModal-{{ book.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <b><h2 class="modal-title" >Book overview</h2></b>
                                            </div>
                                            <div class="modal-body row">
                                                <div class="col-md-6">
                                                    <img src="{{ asset('uploads/' ~ book.id) }}" alt="pirma" class="img-modal">
                                                </div>
                                                <div class="col-md-6">
                                                    <h1><b>{{ book.title}}</b></h1>
                                                    <h3>by <b>{{ book.author }}</b></h3>
                                                    <p><h4><i>{{ book.description }}</i></h4></p>
                                <br>
                                <h4><b>Categories:</b>
                                    {% for category in book.categories %}
                                        {{ category.category }}
                                    {% endfor %}
                                </h4>
                                <p><h4><b>Pages:</b> {{ book.pageCount }}</h4></p>
                                <p><h4><b>Publisher:</b> {{ book.publisher }}</h4></p>
                                <p><h4><b>ISBN:</b> {{ book.isbn }}</h4></p>
                                <p><h4><b>Book Owner:</b> {{ book.owner }}</h4></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group-lg ">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <a href="/book/{{ book.id }}" class="btn btn-primary">Take It!</a>
                             </div>
                         </div>
                                        </div>
                                    </div>
                                </div>
                            </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="popular">
                <br>
                {% for book in popularBooks %}
                    <div class="col-sm-6 book-box">
                        <div class="thumbnail right-caption span4">
                            <img src="{{ asset('uploads/' ~ book.id) }}" alt="pirma" class="fotos">
                            <div class="caption">
                                <h3><b>{{ book.title }}  </b>{% if "now"|date('Y-m-d') == book.createdDate|date('Y-m-d') or "yesterday"|date('Y-m-d') == book.createdDate|date('Y-m-d')%}<span class="label label-primary">New!</span>{% endif %}</h3>
                                <h5>by <b>{{ book.author }}</b></h5>
                                <p><i>"{{ book.description|length > 100 ? book.description|slice(0, 100) ~ '...' : book.description.text  }}"</i></p>
                                <p>
                                    <button type="button" class="btn btn-primary btn--b" data-toggle="modal" data-target="#myModal-{{ book.id }}">
                                        Take a Look
                                    </button> {% if book.badge == true %}<span class="label label-success">Free!</span>{% endif %}{% if book.badge == false %}<span class="label label-danger">Taken</span>{% endif %}
                                <div class="modal fade" id="myModal-{{ book.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <b><h2 class="modal-title" >Book overview</h2></b>
                                            </div>
                                            <div class="modal-body row">
                                                <div class="col-md-6">
                                                    <img src="{{ asset('uploads/' ~ book.id) }}" alt="pirma" class="img-modal">
                                                </div>
                                                <div class="col-md-6">
                                                    <h1><b>{{ book.title}}</b></h1>
                                                    <h3>by <b>{{ book.author }}</b></h3>
                                                    <p><h4><i>{{ book.description }}</i></h4></p>
                                                    <br>
                                                    <h4><b>Categories:</b>
                                                        {% for category in book.categories %}
                                                            {{ category.category }}
                                                        {% endfor %}
                                                    </h4>
                                                    <p><h4><b>Pages:</b> {{ book.pageCount }}</h4></p>
                                                    <p><h4><b>Publisher:</b> {{ book.publisher }}</h4></p>
                                                    <p><h4><b>ISBN:</b> {{ book.isbn }}</h4></p>
                                                    <p><h4><b>Book Owner:</b> {{ book.owner }}</h4></p>
                                                </div>
                                            </div>
                                        <div class="modal-footer">
                                    <div class="btn-group-lg ">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <a href="/book/{{ book.id }}" class="btn btn-primary">Take It!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
     </div>
    </div>
    </div>
{% endblock %}
