</br>
</br>
</br>
</br>


<div class="row">

    <div class="col-xs-10 col-xs-offset-1 ">
        {% for i in 0..5 %}
            <div class="col-md-2">
                <a href='/book/{{ randomBooks[i].id }}'><img src="{{ asset('uploads/' ~ randomBooks[i].id) }}   " alt="{{ randomBooks[i].title }}"  class="fotos"></a>
            </div>
        {% endfor %}
    </div>

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<script src="{{ asset('bundles/our/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/our/js/jssor.slider.mini.js') }}"></script>
<script src="{{ asset('bundles/our/js/index-slider.js') }}"></script>
