<section id="feature_slider" class="lol">
    <article class="slide" id="showcasing"
             style="background: url('{{ asset('bundles/our/img/slides/landscape.png') }}') repeat-x top center;">
        <a href="/book/9"><img class="asset left-1200 sp1500 t90 z1" style="width:210px;height:350px"
                               src="{{ asset('bundles/our/img/slides/9.jpg') }}"/></a>
        <a href="/book/10"><img class="asset left-900 sp1500 t90 z2" style="width:210px;height:350px"
                                src="{{ asset('bundles/our/img/slides/10.jpg') }}"/></a>
        <a href="/book/11"><img class="asset left-600 sp1500 t90 z3" style="width:210px;height:350px"
                                src="{{ asset('bundles/our/img/slides/11.jpg') }}"/></a>
        <a href="/book/12"><img class="asset left-300 sp1500 t90 z3" style="width:210px;height:350px"
                                src="{{ asset('bundles/our/img/slides/12.jpg') }}"/></a>
    <article class="slide" id="showcasing" style="background: url('{{ asset('bundles/our/img/slides/landscape.png') }}') repeat-x top center;">
        <a href="/book/9"><img class="asset left-1200 sp1500 t90 z1" style="width:210px;height:350px" src="{{ asset('bundles/our/img/9.jpg') }}"/></a>
        <a href="/book/10"><img class="asset left-900 sp1500 t90 z2" style="width:210px;height:350px" src="{{ asset('bundles/our/img/10.jpg') }}"/></a>
        <a href="/book/11"><img class="asset left-600 sp1500 t90 z3" style="width:210px;height:350px" src="{{ asset('bundles/our/img/11.jpg') }}"/></a>
        <a href="/book/12"><img class="asset left-300 sp1500 t90 z3" style="width:210px;height:350px" src="{{ asset('bundles/our/img/12.jpg') }}"/></a>

        <div class="info">
            <h2></h2>
        </div>
    </article>
    <article class="slide" id="ideas"
             style="background: url('{{ asset('bundles/our/img/slides/aqua.jpg') }}') repeat-x top center;">
        <div class="info">
            <h2></h2>
        </div>
        <a href="/book/9"><img class="asset left-1200 sp1500 t90 z1" style="width:210px;height:350px"
                               src="{{ asset('bundles/our/img/slides/9.jpg') }}"/></a>
        <a href="/book/10"><img class="asset left-900 sp1500 t90 z2" style="width:210px;height:350px"
                                src="{{ asset('bundles/our/img/slides/10.jpg') }}"/></a>
        <a href="/book/11"><img class="asset left-600 sp1500 t90 z3" style="width:210px;height:350px"
                                src="{{ asset('bundles/our/img/slides/11.jpg') }}"/></a>
        <a href="/book/12"><img class="asset left-300 sp1500 t90 z3" style="width:210px;height:350px"
                                src="{{ asset('bundles/our/img/slides/12.jpg') }}"/></a>
    </article>
    <article class="slide" id="tour"
             style="background: url('{{ asset('bundles/our/img/slides/bubble2.jpg') }}') repeat-x top center;">
        <a href="/book/9"><img class="asset left-1200 sp1500 t90 z1" style="width:210px;height:350px"
                               src="{{ asset('bundles/our/img/slides/9.jpg') }}"/></a>
        <a href="/book/10"><img class="asset left-900 sp1500 t90 z2" style="width:210px;height:350px"
                                src="{{ asset('bundles/our/img/slides/10.jpg') }}"/></a>
        <a href="/book/11"><img class="asset left-600 sp1500 t90 z3" style="width:210px;height:350px"
                                src="{{ asset('bundles/our/img/slides/11.jpg') }}"/></a>
        <a href="/book/12"><img class="asset left-300 sp1500 t90 z3" style="width:210px;height:350px"
                                src="{{ asset('bundles/our/img/slides/12.jpg') }}"/></a>
        <a href="/book/9"><img class="asset left-1200 sp1500 t90 z1" style="width:210px;height:350px" src="{{ asset('bundles/our/img/9.jpg') }}"/></a>
        <a href="/book/10"><img class="asset left-900 sp1500 t90 z2" style="width:210px;height:350px" src="{{ asset('bundles/our/img/10.jpg') }}"/></a>
        <a href="/book/11"><img class="asset left-600 sp1500 t90 z3" style="width:210px;height:350px" src="{{ asset('bundles/our/img/11.jpg') }}"/></a>
        <a href="/book/12"><img class="asset left-300 sp1500 t90 z3" style="width:210px;height:350px" src="{{ asset('bundles/our/img/12.jpg') }}"/></a>
    </article>
    <article class="slide" id="tour" style="background: url('{{ asset('bundles/our/img/slides/bubble2.jpg') }}') repeat-x top center;">
        <a href="/book/9"><img class="asset left-1200 sp1500 t90 z1" style="width:210px;height:350px" src="{{ asset('bundles/our/img/9.jpg') }}"/></a>
        <a href="/book/10"><img class="asset left-900 sp1500 t90 z2" style="width:210px;height:350px" src="{{ asset('bundles/our/img/10.jpg') }}"/></a>
        <a href="/book/11"><img class="asset left-600 sp1500 t90 z3" style="width:210px;height:350px" src="{{ asset('bundles/our/img/11.jpg') }}"/></a>
        <a href="/book/12"><img class="asset left-300 sp1500 t90 z3" style="width:210px;height:350px" src="{{ asset('bundles/our/img/12.jpg') }}"/></a>

        <div class="info">
            <h2></h2>
        </div>
    </article>
    <article class="slide" id="responsive"
             style="background: url('{{ asset('bundles/our/img/slides/aqua.jpg') }}') repeat-x top center;">
        <a href="/book/9"><img class="asset left-1200 sp1500 t90 z1" style="width:210px;height:350px"
                               src="{{ asset('bundles/our/img/9.jpg') }}"/></a>
        <a href="/book/10"><img class="asset left-900 sp1500 t90 z2" style="width:210px;height:350px"
                                src="{{ asset('bundles/our/img/10.jpg') }}"/></a>
        <a href="/book/11"><img class="asset left-600 sp1500 t90 z3" style="width:210px;height:350px"
                                src="{{ asset('bundles/our/img/11.jpg') }}"/></a>
        <a href="/book/12"><img class="asset left-300 sp1500 t90 z3" style="width:210px;height:350px"
                                src="{{ asset('bundles/our/img/12.jpg') }}"/></a>

        <div class="info">
            <h2>
            </h2>
        </div>
    </article>
</section>
