<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}OurReads{% endblock %}</title>
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        <link href="{{ asset('bundles/our/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/our/css/bootstrap-social.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/our/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/our/css/CUSTOM.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/our/css/star-rating.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/our/css/index.css') }}" type="text/css" media="screen"/>
    {% endblock %}

    <style type="text/css">
        {% block styles %}
        .navbar-brand {
            padding-top: 5px;

        }

        #brand {
            margin-left: -5px;
            font-size: 20px;
        }

        {% endblock %}
    </style>

    <script>
        {% block inline_scripts %}
        {% endblock %}
    </script>
</head>

<body class="pull_top">

{% include "OurBundle:Components:navigation.html.twig" %}

{% block slider %}
    {% include "OurBundle:Components:slider.html.twig" %}
{% endblock %}

<div id="main" class="container">
    {% block body %}{% endblock %}
</div>


{% block scripts %}
    <script src="{{ asset('bundles/our/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/our/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/our/js/index-slider.js') }}"></script>
{% endblock %}
</body>
</html>
