{% extends "OurBundle:Layouts:default.html.twig" %}

{% block user %}

    {% block slider %}
        <p> no need this </p>
    {% endblock %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        {% dump(requests) %}

        </br>


        {% if requests > 0 %}
        <div class="alert alert-info col-md-6 text-center col-lg-offset-3 " role="alert">
            <p><strong>Hey!</strong> readers are requesting for <strong> {{ requests }} </strong> of your books</p>
        </div>
        {% endif %}



        <table class="table">

            <thead>

            <tr>
                <th>My email</th>
                <th>Books added</th>
                <th>Books finished</th>
                <th>Book reading</th>
            </tr>

            <tr>
                <td>{{ app.user.email }}     <i class="fa fa-pencil">     </i>   </td>
                <td> {{ stats.read }}</td>
                <td>{{ stats.finished }}</td>
                <td>{{ stats.reading }}</td>
            </tr>

            </thead>

        </table>


        <table class="table table-hover">

            <thead>

            <tr>
                <th colspan="2">My own books</th>
                <th colspan="4">Readers</th>

            </tr>

            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Username</th>
                <th></th>
                <th></th>
                <th>action</th>
            </tr>
            </thead>

            <tbody>

           {% for book in readingBooks %}

            <tr class = "row-link" >
                <td> <a href="/book/{{book.bookId.id}}">{{ book.bookId.title }} </a></td>
                <td> <a href="/book/{{book.bookId.id}}">{{ book.bookId.author }}</a></td>
                <td> {{ book.userId.username }}</td>
                <td></td>
                <td></td>
                <td> <a class="delete-action" href='/user/delete/{{book.bookId.id}}'> <i class="fa fa-trash"></i>  </a>
                    <a class="confirm-action" href='/confirm/{{book.bookId.id}}'> <i class="fa fa-check"></i>  </a>
                    <a class="cancel-action" href='/cancel/{{book.bookId.id}}'> <i class="fa fa-ban"></i>  </a>

                </td>
            </tr>

           {% endfor %}

           {% for book in books %}



               <tr class = "row-link" >
                   <td> <a href="/book/{{book.id}}">{{ book.title }} </a></td>
                   <td> <a href="/book/{{book.id}}">{{ book.author }}</a></td>
                   <td> </td>
                   <td></td>
                   <td></td>
                   <td> <a class="delete-action" href='/user/delete/{{book.id}}'> <i class="fa fa-trash"></i>  </a></td>
               </tr>

           {% endfor %}


            </tbody>

        </table>



    {% endif %}

{% endblock %}
