{% extends 'OurBundle:Layouts:default.html.twig' %}



{% block slider %}{% endblock %}
{% block body %}
    </br></br></br></br>
    <div class="container">
        <div class="col-md-4 ">
            <img src="{{ asset('uploads/' ~ book_data.id) }}" class="LBookFoto" id="test"/>
        </div>
        <div class="col-md-5">
                <h1><b>{{ book_data.title}}</b></h1>
                <h3>by <b>{{ book_data.author }}</b></h3>
                <p><h4><i>{{ book_data.description }}</i></h4></p>
                <br>
                <h4><b>Categories:</b>
                    {% for category in book_data.categories %}
                        {{ category.category }}
                    {% endfor %}
                </h4>
                <p><h4><b>Pages:</b> {{ book_data.pageCount }}</h4></p>
                <p><h4><b>Publisher:</b> {{ book_data.publisher }}</h4></p>
                <p><h4><b>ISBN:</b> {{ book_data.isbn }}</h4></p>
                <p><h4><b>Book Owner:</b> {{ book_data.id }}</h4></p>
            <input id = "book-page-id" type="hidden" value = "{{ book_data.id }}">
            <br>
            <div class="btn-group-lg">
                {% if book_status == "available" %}
                    <a href="{{ path('CreateOrder', { 'id': book_data.id }) }}" class="btn btn-primary create-order">Order It!</a>
                {% endif %}
                {% if book_status == "prolongation" %}
                    <a href="{{ path('ExtendOrder', { 'id': book_data.id }) }}" class="btn btn-success extend-order">Extend your order!</a>
                    <a href="{{ path('Return', { 'id': book_data.id }) }}" class="btn btn-info return-book">Return book</a>
                {% endif %}
                {% if book_status == "reservation" %}
                    <a href="{{ path('Reservation', { 'id': book_data.id }) }}" class="btn btn-primary reserve-book">Reservation</a>
                {% endif %}
                {% if book_status == "return" %}
                    <a href="{{ path('Return', { 'id': book_data.id }) }}" class="btn btn-info return-book">Return book</a>
                {% endif %}
                {% if book_status == "cancel_reservation" %}
                    <a href="{{ path('CancelReservation', { 'id': book_data.id }) }}" class="btn btn-warning cancel-reservation">Cancel Reservation</a>
                {% endif %}
                {% if book_status == "cancel_and_order" %}
                    <a href="{{ path('CancelAndOrder', { 'id': book_data.id }) }}" class="btn btn-primary cancel-and-order">Order It!</a>
                    <a href="{{ path('CancelReservation', { 'id': book_data.id }) }}" class="btn btn-warning cancel-reservation">Cancel Reservation</a>
                {% endif %}
                {% if book_status == "no_action" %}
                    <a href="/register" class="btn btn-primary">Register</a>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="container">
        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': book_data.id} %}
    </div>
    <br><br><br>
{% endblock %}
