{% extends 'OurBundle:Layouts:default.html.twig' %}
{% form_theme form1 'bootstrap_3_layout.html.twig' %}
{% form_theme form2 'bootstrap_3_layout.html.twig' %}
{% block slider %}
{% endblock %}
{% block addBook %}
    </br></br></br></br>
    {{ form_start(form1) }}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {{ form_errors(form1) }}
    {{ form_end(form1) }}
    {{ form_start(form2) }}
    {{ form_errors(form2) }}
    {{ form_end(form2) }}
    <img class="img-rounded" src="http://bks9.books.google.lt/books/content?id=_AZ_AwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" />
{% endblock %}
